<div class="main-container">
    <div style="background-color: white; margin-top: 10px; margin-left: 10px;">
        <img src="assets/koala.JPG" alt="img" style="width: 100%; margin-top: 15px;">
        <ul class="nav flex-column sticky-top pl-0 pt-5 mt-3">
            <li class="nav-item"><a class="nav-link" href="#">Notice Board</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#submenu1" data-toggle="collapse" data-target="#submenu1">Events▾</a>
                <ul class="list-unstyled flex-column pl-3 collapse" id="submenu1" aria-expanded="false">
                    <li class="nav-item"><a class="nav-link" href="">Event 1</a></li>
                    <li class="nav-item"><a class="nav-link" href="">Event 2</a></li>
                </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Messages</a></li>
            <li class="nav-item"><a class="nav-link" href="#">My Branch</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Contacts</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Fees</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Attendance</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Day Care</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Search Users</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle drop-tog" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown button
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
        <div class="under-dropdown">
            <button class="btn">Filter</button>
            <input type="text" placeholder="Start Typing to filter list...">
        </div>
        <div class="text-head">
            <button class="btn-next">School Notice Board</button>
            <i class="bi bi-dash-circle-fill" style="margin-left: 70px;"></i>
        </div>
        <hr>
        <div class="three-btn">
            <button class="btn btn-secondary">All Teachers</button><br>
            <button class="btn btn-secondary">Day Care</button><br>
            <button class="btn btn-secondary">Koala Preschool, BTM</button>
        </div>
        <div class="text-foot">
            <button class="btn-next">Class Notice Boards</button>
            <i class="bi bi-plus-circle-fill" style="margin-left: 75px;"></i>
        </div>
        <hr>
    </div>
    <div class="remaining">
        <h6 class="one">Note: You can add Hashtags in messages.</h6>
        <i class="bi bi-file-earmark-pdf"></i>
        <h6 class="two" style="display: inline-block; margin-right: 5px;">POST AS PDF<i class="fa-solid fa-toggle-off fa-xl" style="margin-left: 20px;"></i></h6>
        <textarea type="text" placeholder="Enter Your Text Here" class="message-box" rows="10"></textarea>
        <div class="under-remaining">
            <i class="bi bi-file-earmark-fill"></i>
            <input type="checkbox" style="margin-left: 20px; margin-right: 7px;">Enable Reply
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-left: 630px; height: 40px;">
                News
            </button>
            <button style="margin-left: 20px; height: 40px; width: 65px;" class="btn btn-primary">Post</button>
        </div>
        <div class="under-dropdown" style="display: inline-block;">
            <button class="btn" style="background-color: white; color: black; border-radius: 0px;">News</button>
            <button class="btn" style="color: #2D97D4;">Alert</button>
            <button class="btn" style="margin-left: 350px;">Filter</button>
            <input type="text" placeholder="Start Typing to filter list..." style="display: inline-block;">
            <hr style="width: 90%;">
        </div>
    </div>    
</div>
