<div class="col-md-3 col-lg-2 sidebar-offcanvas h-100 overflow-auto bg-light pl-0" id="sidebar" role="navigation">
    <img src="assets/koala.JPG" alt="img" style="width: 100%; margin-top: 15px;">
    <ul class="nav flex-column sticky-top pl-0 pt-5 mt-3" >
        <li class="nav-item"><i class="fa-regular fa-message-dots"></i><a class="nav-link" href="#">Notice Board</a></li>
        <li class="nav-item">
            <a class="nav-link" href="#submenu1" data-toggle="collapse" data-target="#submenu1">Events▾</a>
            <ul class="list-unstyled flex-column pl-3 collapse" id="submenu1" aria-expanded="false">
               <li class="nav-item"><a class="nav-link" href="">Event 1</a></li>
               <li class="nav-item"><a class="nav-link" href="">Event 2</a></li>
            </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="#">Messages</a></li>
        <li class="nav-item"><a class="nav-link" href="#">My Branch</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Contacts</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Fees</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Attendance</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Day Care</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Search Users</a></li> 
    </ul>
</div>